<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 입니다.</title>
    <link rel="stylesheet" href="../../static/css/manager/manager.css?ver=1" type="text/css">
    <script src="../../static/js/manager/manager1.js"></script>
</head>

<body>

    <nav class="nav-container">
      <a class="notification">
        <span id="notification-name">관리자용 페이지</span>
      </a>
    </nav>


    <div class="ani-navbar">
      <aside class="ani-navbar-menu" id="menu1">
        <div class="menu-title1">사용자 정보</div>
      </aside>
      <aside class="ani-navbar-menu" id="menu2">
        <div class="menu-title2">책 정보</div>
      </aside>
      <aside class="ani-navbar-menu" id="menu3">
        <div class="menu-title3">Q&A 리스트</div>
      </aside>
    </div>



    <div class="content" id="content1">
      <table class="checklist1" border="1">
        <div class="list1">
          <h2 id="li1">최신 회원 정보</h2>
          <button type="button" class="delete-selected-btn" id="delete">삭제</button>
        </div>
      <form action="#">
          <thead>
          <tr>
            <th>닉네임</th>
            <th>변경사항</th>
            <th>변경날짜</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
      </form>
      </table>

      <table class="checklist" border="1">
        <thead>
        <h2 id="peo">회원 정보</h2>
        <tr>
          <th>닉네임</th>
          <th>가입 날짜</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>


    <div class="content" id="content2">
        <table class="checklist2" border="1">
            <thead>
            <h2 id="book">책 정보</h2>
            <tr>
                <th>책 제목</th>
                <th>남은권수</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="content" id="content3">
      <div class="Q&A">
        <h2 id="Q&A1">Q&A 리스트</h2>
      </div>
      <form action="#">
        <table class="checklist5">

          <tr id="q1">
            <td colspan="3">
              <li>사이트 이용시 해야하는 것이 무엇인가요?</li>
              <button onclick="addReplyBox('q2')" id="rebtn">댓글 달기</button>
              <div class="reply-box" id="reply-q2"></div>
            </td>
          </tr>
          <tr id="q2">
            <td colspan="3">
              <li>나는 개인정보에 민감해서 가입안하고 토론에 참여하고 싶어요</li>
              <button onclick="addReplyBox('q3')" id="rebtn">댓글 달기</button>
              <div class="reply-box" id="reply-q3"></div>
            </td>
          </tr>
          <tr id="q3">
            <td colspan="3">
              <li>나에대해서 안좋은 리뷰들이 달리고 있어요 해결해주세요</li>
              <button onclick="addReplyBox('q4')" id="rebtn">댓글 달기</button>
              <div class="reply-box" id="reply-q4"></div>
            </td>
          </tr>
          <tr id="q4">
            <td colspan="3">
              <li>닉네임이 나무늘보인 사람 왜그러는지 모르겠어요</li>
              <button onclick="addReplyBox('q5')" id="rebtn">댓글 달기</button>
              <div class="reply-box" id="reply-q5"></div>
            </td>
          </tr>
        </table>
      </form>
    </div>

</body>
</html>