@import url("../public/public.css");

header{
    margin: 20px 0;
    padding: 0 250px;
}

h1{
    text-align: center;
    margin: 60px;
}
/***********************************/

header{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-x-small);
    margin-bottom: 25px;
    color: var(--Dark-gray-textured-background---4-rgba);
}
header > div{
    display: flex;
    align-items: center;
}
header li{
    display: inline-block;
    list-style: none;
}
header li:not(:last-child)::after{
    content: "|";
    margin: 0 10px;
}
header a{
    text-decoration: none;
    color: var(--Dark-gray-textured-background---4-rgba);
}
header label{
    display: flex;
    align-items: center;
}
header select{
    font-size: var(--font-size-xx-small);
    padding: 2px 4px;
    margin-left: 4px;
    background-color: unset;
    border: 1px solid black;
}

main {
    margin: 20px 0;
    padding: 0 250px;
    text-align: center;
}

ol{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
ol > li {
    margin: 0 8px;
}
ol a{
    color: black;
    font-size: var(--font-size-x-small);
    font-weight: normal;
}
ol a[active=true]{
    font-weight: bold;
}