<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/main/discussion.css">
    <script src="../../static/js/main/discussion.js" defer></script>
    <link rel="stylesheet" href="../../static/css/main/participation.css">

</head>
<body>
    <main>
        <h1>토론 게시판</h1>
        <header>
            <div>
                <span>등록주제:</span>
                <b>13개</b>
            </div>
            <ul>
                <li>
                    <a>최신순</a>
                </li>
                <li>
                    <a>제목순</a>
                </li>
                <li>
                    <label>
                        <span>보기설정</span>
                        <select id="view-size-select">
                            <option value="10">10개</option>
                            <option value="25">15개</option>
                            <option value="30">20개</option>
                        </select>
                    </label>
                </li>
            </ul>
        </header>

        <section class="all-book-discussion">
            <div class="one-book-discussion">
                <div class="image-container">
                    <img src="../../static/images/book_main.jpg" alt="메인이미지"/>
                </div>
                <div class="discussion-title-recent">
                    <h2>소년이 온다</h2>
                    <div class="discussion-title">
                        <span>토론 주제:</span>
                        <p>내가 '소년이 온다'를 좋아하는 이유는?</p>
                    </div>
                    <div class="discussion-recent">
                        <p>가장 최근에 남겨진 의견</p>
                    </div>
                    <div class="discussion-button-section">
                        <button class="discussion-button">
                            <a href="">
                                토론 참여하기
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="one-book-discussion">
                <div class="image-container">
                    <img src="../../static/images/book_main.jpg" alt="메인이미지"/>
                </div>
                <div class="discussion-title-recent">
                    <h2>소년이 온다</h2>
                    <div class="discussion-title">
                        <span>토론 주제:</span>
                        <p>내가 '소년이 온다'를 좋아하는 이유는?</p>
                    </div>
                    <div class="discussion-recent">
                        <p>가장 최근에 남겨진 의견</p>
                    </div>
                    <div class="discussion-button-section">
                        <button class="discussion-button">
                            <a href="">
                                토론 참여하기
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="one-book-discussion">
                <div class="image-container">
                    <img src="../../static/images/book_main.jpg" alt="메인이미지"/>
                </div>
                <div class="discussion-title-recent">
                    <h2>소년이 온다</h2>
                    <div class="discussion-title">
                        <span>토론 주제:</span>
                        <p>내가 '소년이 온다'를 좋아하는 이유는?</p>
                    </div>
                    <div class="discussion-recent">
                        <p>가장 최근에 남겨진 의견</p>
                    </div>
                    <div class="discussion-button-section">
                        <button class="discussion-button">
                            <a href="">
                                토론 참여하기
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="one-book-discussion">
                <div class="image-container">
                    <img src="../../static/images/book_main.jpg" alt="메인이미지"/>
                </div>
                <div class="discussion-title-recent">
                    <h2>소년이 온다</h2>
                    <div class="discussion-title">
                        <span>토론 주제:</span>
                        <p>내가 '소년이 온다'를 좋아하는 이유는?</p>
                    </div>
                    <div class="discussion-recent">
                        <p>가장 최근에 남겨진 의견</p>
                    </div>
                    <div class="discussion-button-section">
                        <button class="discussion-button">
                            <a href="">
                                토론 참여하기
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </section>

<!--        <div class="all-review-container">-->
<!--            <div class="all-review">-->
<!--                <h3>-->
<!--                    소년이 온다-->
<!--                </h3>-->
<!--                <label>-->
<!--                    <span>토론 주제:</span>-->
<!--                    <select class="discussion-subject">-->
<!--                        <option value="">이거는 오늘 주제임</option>-->
<!--                        <option value="">이거는 다아음 주제임</option>-->
<!--                        <option value="">이거는 다아아아앙아아아아음 주제임</option>-->

<!--                    </select>-->
<!--                </label>-->
<!--                <div class="all-discussion">-->
<!--                    <div class="one-discussion">-->
<!--                        <span>참여자1</span>-->
<!--                        <p>나는 ~~게 생각해서 ~~~가 더 맞는 것 같아</p>-->
<!--                        <div class="agree-disagree-btn">-->
<!--                            <button class="agree">찬성</button>-->
<!--                            <button class="disagree">반대</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="one-discussion">-->
<!--                        <span>참여자1</span>-->
<!--                        <p>나는 ~~게 생각해서 ~~~가 더 맞는 것 같아</p>-->
<!--                        <div class="agree-disagree-btn">-->
<!--                            <button class="agree">찬성</button>-->
<!--                            <button class="disagree">반대</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="one-discussion">-->
<!--                        <span>참여자1</span>-->
<!--                        <p>나는 ~~게 생각해서 ~~~가 더 맞는 것 같아</p>-->
<!--                        <div class="agree-disagree-btn">-->
<!--                            <button class="agree">찬성</button>-->
<!--                            <button class="disagree">반대</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="one-discussion">-->
<!--                        <span>참여자1</span>-->
<!--                        <p>나는 ~~게 생각해서 ~~~가 더 맞는 것 같아</p>-->
<!--                        <div class="agree-disagree-btn">-->
<!--                            <button class="agree">찬성</button>-->
<!--                            <button class="disagree">반대</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="one-discussion">-->
<!--                        <span>참여자1</span>-->
<!--                        <p>나는 ~~게 생각해서 ~~~가 더 맞는 것 같아</p>-->
<!--                        <div class="agree-disagree-btn">-->
<!--                            <button class="agree">찬성</button>-->
<!--                            <button class="disagree">반대</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="button-container">-->
<!--                    <button type="submit">토론 참여하기</button>-->
<!--                    <button type="button">닫기</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


        <div class="my-opinion-container">
            <form method="post" class="my-opinion-form">
                <h3>
                    나의 의견은?
                </h3>
                <label class="my-opinion-subject">
                    <span>토론 주제:</span>
                    <select id="review-products">
                        <option value="">오늘은 토론 주제는 이거임</option>
                        <option value="">이거는 다음 토론 주제임</option>
                        <option value="">이거는 다아아아앙아아아아음 주제임</option>
                    </select>
                </label>
                <label><textarea name="text"></textarea></label>
                <div class="button-container">
                    <button type="submit">작성하기</button>
                    <button type="button">닫기</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>