<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/content/method.css?ver=1" type="text/css">
</head>
<body>
    <header>
        <h1>어서 오세요~ R.D에 오신걸 환영합니다!</h1>
            <p>사용방법은 아주 간단합니다! 토의를 좋아하는 누구나~ 참여가능하구요~<br>
            먼저 홈화면에 있는 메뉴바에 책이라는 글자를 클릭해주세요!<br>
            책을 대여해야지 토론에 참가할수있어요!<br>
            </p>

        <h1>토의를 참가하고 싶다면 그누구나 참여가 가능하지만 다른 사람을 위해 우리 양보해요</h1>
            <p>그래서 저희 토의는 갯수제한이 있답니다.. (유감) 그래도 아쉬워 하지마세요<br>
            당신이 잠에 들고 일어나면 다시 갯수제한이 생길지도 모르잖아요!
            </p>

        <h2>문의 사항이 있을시 아래에 있는 번호나 이메일로 문의사항 보내주세요</h2>
            <p>전화는 오전 11시 부터 오후 10시까지만 됩니다! 왜냐하면 일을 해야하기 때문이죠<p>
            <p>이메일은 잘 안봐서 확인 늦어 질수도 있어요 조금만 이해 부탁 드릴게요~~<p>

        <h1>많이들 이용해주세여</h1>
        <test> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis ipsum libero molestiae neque! At consequatur dolores ea expedita harum magnam magni nam odio quasi. Amet animi error et eveniet ex, facilis impedit itaque maiores modi molestiae molestias mollitia nam numquam pariatur quam quidem quisquam repellat, repellendus reprehenderit sed sint ullam vitae voluptate? Ab accusantium assumenda eius eos, ex excepturi facere fugit, ipsam ipsum neque nihil quae quidem, quis saepe sed tempora vero. Architecto assumenda corporis deserunt, dolor dolorum eaque, error expedita fuga, ipsam maiores nemo obcaecati officia perspiciatis possimus quas quos sed similique soluta voluptas voluptatem? Eius, molestiae, quae?</test>

    </header>
</body>
</html>