<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>찜목록</title>
    <link rel="stylesheet" href="../../static/css/content/zim.css?ver=1" type="text/css">
</head>
<body>
    <header>
        <h1>나의 찜 목록</h1>
        <a href="index.html" class="link"></a>
            <div class="button-container">
                <button id="addButton">대여하기</button>
                <button id="removeButton">삭제</button>
            </div>
    </header>

    <hr/>

    <main>
        <h2>책 목록</h2>
        <div class="wishlist" id="wishlist-container">
            <p>찜한 책이 없습니다.</p>
            <a href="../main/booklist.html" class="link">책 보러가기!</a>
        </div>
    </main>
</body>
</html>