<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.BookMapper">
    <!-- 책 등록 -->
    <insert id="createBook">
        INSERT INTO book (isbn, title, author, publisher, publication_date, genre, rating, rental_state,
                          copies_avilable, detail, cover_image, created_at, user_id)
        VALUES (#{isbn}, #{title}, #{author}, #{publisher}, #{publicationDate}, #{genre}, #{rating},
                #{rentalState}, #{copiesAvailable}, #{detail}, #{coverImage}, #{createdAt}, #{userId})
    </insert>
    <!-- 책 찾기 -->
    <select id="getBookByIsbn" resultType="BookDTO">
        SELECT * FROM book WHERE isbn = #{isbn}
    </select>
    <!-- 모든 책 리스트 -->
    <select id="getAllBooks" resultType="BookDTO">
        SELECT * FROM book
    </select>
    <!-- 책 정보 수정 -->
    <update id="updateBook">
        UPDATE book
        SET title = #{title}, author = #{author}, publisher = #{publisher}, publication_date = #{publicationDate},
            genre = #{genre}, rating = #{rating}, rental_state = #{rentalState}, detail = #{detail},
            cover_image = #{coverImage}, created_at = DEFAULT, user_id = #{userId}
        WHERE isbn = #{isbn}
    </update>
    <!-- 책 삭제 -->
    <delete id="deleteBook">
        DELETE FROm book WHERE isbn = #{isbn}
    </delete>
    <!-- 베스트셀러 가져오기 -->
    <select id="getBestsellerList" resultType="BestsellerDTO">
        SELECT b.isbn, b.title, b.author, bs.rank, bs.created_at
        FROM book b
        JOIN bestseller bs ON b.isbn = BS.book_isbn
    </select>
</mapper>