<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.NotificationMapper">
    <!-- 알림 생성 -->
    <insert id="createNotification">
        INSERT INTO notification (id, message, created_at, status, user_id)
        VALUES (NULL, #{message}, DEFAULT, '읽지 않음', #{userId})
    </insert>
    <!-- 알림을 읽었을 때 -->
    <update id="updateNotificationStatus">
        UPDATE notification
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <!-- 사용자 알림 조회 -->
    <select id="getNotificationByUserId" resultType="NotificationDTO">
        SELECT * FROM notification WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>
</mapper>