<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.BookMapper">
    <!-- 모든 책 리스트 -->
    <select id="getAllBooks" resultType="BookDTO">
        SELECT * FROM book
    </select>
    <!-- 책 삭제 -->
    <delete id="deleteBook">
        DELETE FROM book WHERE isbn = #{isbn}
    </delete>
    <!-- 제목으로 책 검색 -->
    <select id="searchBooksByName" parameterType="string" resultType="BookDTO">
        SELECT
            b.isbn,
            b.title,
            b.author,
            b.publisher,
            b.publication_date AS publicationDate,
            b.price,
            b.copies_available AS copiesAvailable,
            b.detail,
            b.category,
            b.image,
            b.created_at AS createdAt
        FROM
            book b
        WHERE b.title
            LIKE CONCAT('%', REPLACE(#{title}, ' ', ''), '%');
    </select>
    <!-- 특정 책의 상세 정보 조회 -->
    <select id="getBookDetails" resultType="BookDTO">
        SELECT isbn, title, price
        FROM book
        WHERE isbn = #{isbn}
    </select>
    <select id="getBookByIsbn" resultType="com.project.dto.BookDTO">
        SELECT * FROM book WHERE isbn = #{isbn}
    </select>
</mapper>
