<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.LoanMapper">
    <!-- 대출 기록 생성 -->
    <insert id="createLoan">
        INSERT INTO loan(id, loan_date, return_date, status, user_id, book_isbn)
        VALUES (NULL, #{loanDate}, #{returnDate}, #{status}, #{userId}, #{bookIsbn})
    </insert>
    <!-- 대출 기록 가져오기 -->
    <select id="getLoanById" resultType="LoanDTO">
        SELECT * FROM loan WHERE id = #{id}
    </select>

    <select id="getLoansByUserId" resultType="LoanDTO">
        SELECT a.*, b.title AS bookTitle
        FROM loan as a
        JOIN book b ON a.book_isbn = b.isbn
        WHERE a.user_id = #{userId}
    </select>
    <!-- 대출 정보 업데이트 -->
    <update id="updateLoanStatus">
        UPDATE loan
        SET status = #{status}, return_date = #{returnDate}
        WHERE id = #{id}
    </update>
    <!-- 현재 대출 중인 사용자 모두 출력 -->
    <select id="getAllLoans" resultType="LoanDTO">
        SELECT a.*, b.title AS bookTitle, c.name AS userName
        FROM loan as a JOIN book b ON a.book_isbn = b.isbn
        JOIN user c ON a.user_id = c.id
    </select>


</mapper>