<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
    <!-- 유저 등록 -->
    <insert id="createUser">
        INSERT INTO user (id, name, password, ci, tel, email,
                          join_date, point, rental_date, profile_image,
                          updated_at, role, book_isbn)
        VALUES (#{id}, #{name}, #{password}, #{ci}, #{tel}, #{email}, DEFAULT,
                #{point}, #{rentalDate}, #{profileImage}, DEFAULT, #{role}, #{bookIsbn})
    </insert>
    <!-- id로 사용자 조회 -->
    <select id="getUserById" resultType="com.project.dto.UserDTO">
        SELECT * FROM user WHERE id = #{id}
    </select>
    <!-- 모든 사용자 조회 -->
    <select id="getAllUsers" resultType="com.project.dto.UserDTO">
        SELECT * FROM user
    </select>
    <!-- 사용자 정보 업데이트 -->
    <update id="updateUser">
        UPDATE user
        SET name = #{name}, password = #{password}, email = #{email}, updated_at = DEFAULT
        WHERE id = #{id}
    </update>
    <!-- 사용자 정보 삭제 -->
    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{id}
    </delete>
    <!-- 사용자 id로 남긴 review 조회 -->
    <select id="getReviewsByUserId" resultType="com.project.dto.ReviewDTO">
        SELECT a.*
        FROM review a
        WHERE a.user_id = #{userId}
    </select>
</mapper>