<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/user/my-talk.css" type="text/css">
    <script src="../../static/js/user/method.js" defer></script>
</head>


<body>
        <table class="table">
            <tr><td colspan="2"><h2>나의 토론글들</h2></td></tr>
            <tr class="header">
                <td class="num">번호</td>
                <td class="title">제목</td>
                <td>작성날짜</td>
            </tr>
        </table>
        <br>
</body>
</html>