<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 페이지</title>
    <link rel="stylesheet" href="../../static/css/user/Mypage.css?ver=1" type="text/css">
</head>
<body>
    <header>
        <img src="../../static/img/main/예시%20프로필.png" alt="img">
        <p>나는야 나무 늘보입니다.</p>
        <p>woriah1234@daum.net</p>
    </header>
    <hr/>
    <conent>
        <ul class="menu-bar">
            <li><a href="./booklist.html" class="link">책</a></li>
            <li><a href="">토론 게시판</a></li>
            <li><a href="../content/zim.html">문의하기</a></li>
        </ul>
    </conent>
</body>
</html>