<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<meta charset="UTF-8">
	<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
	<title>나의 찜목록</title>
	<link rel="stylesheet" href="../../static/css/content/wishlist.css" type="text/css">
	<script src="../../static/js/content/wishlist.js" defer></script>
</head>
<body>
<h1>나의 찜 목록</h1>
<header>
	<div>
		<span>찜한 권수:</span>
		<b th:text="${cartCount} + '건'">13건</b>
	</div>
</header>

<hr/>

<main>
	<div class="wishlist" id="wishlist-container">
		<!-- 책 목록이 있는 경우 -->
		<ul class="book-list">
			<li th:each="wish : ${wishlist}" class="book-item">
				<div class="book-card">
					<!-- Null 검증 후 렌더링 -->
					<img th:if="${wish.book != null}" th:src="${wish.book.getBase64Image()}" alt="책 이미지" class="book-image">
					<div th:if="${wish.book != null}" class="book-info">
						<h3 th:text="${wish.book.getTitle()}"></h3>
						<p th:text="'가격: ' + ${wish.book.getPrice()} + '원'"></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</main>
</body>
</html>