<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>나의 찜목록</title>
    <link rel="stylesheet" href="../../static/css/content/lendbook.css?ver=1" type="text/css">
</head>
<body>
    <h1>나의 찜 목록</h1>
    <header>
        <div>
            <span th:text="#{category.registed-item}">대여한 권수:</span>
            <b th:text="${pageInfo.totalElementCount} + '건'">13건</b>
        </div>

        <li>
            <a th:href="@{/product(categoryNo=${pageInfo.categoryNo},page=1,size=${pageInfo.size},sort='recent')}">최신순</a>
        </li>
        <li>
            <a th:href="@{/product(categoryNo=${pageInfo.categoryNo},page=1,size=${pageInfo.size},sort='name')}">이름순</a>
        </li>
        <li>
            <a th:href="@{/product(categoryNo=${pageInfo.categoryNo},page=1,size=${pageInfo.size},sort='low-price')}">삭제하기</a>
        </li>
        <li>
            <a th:href="@{/product(categoryNo=${pageInfo.categoryNo},page=1,size=${pageInfo.size},sort='high-price')}">대여하기</a>
        </li>
        <li>
            <label>
                <span>보기설정</span>
                <select id="view-size-select">
                    <option value="10" th:selected="${pageInfo.size == 10}">10개</option>
                    <option value="25" th:selected="${pageInfo.size == 25}">25개</option>
                    <option value="30" th:selected="${pageInfo.size == 30}">30개</option>
                    <option value="50" th:selected="${pageInfo.size == 50}">50개</option>
                </select>
            </label>
        </li>

    </header>

    <hr/>

    <main>
        <h2>책 목록</h2>
        <div class="wishlist" id="wishlist-container">
            <p>대여한 책이 없어요ㅠㅠ</p>
            <a href="../AllBook/booklist.html" class="link">책 보러가기!</a>
        </div>
    </main>

    <ol th:if="${pageInfo.page <= pageInfo.totalPageCount}">
        <li th:if="${pageInfo.startPage != 1}">
            <a th:href="@{/product(
                    categoryNo=${pageInfo.categoryNo},
                    page=${pageInfo.startPage - 1},
                    size=${pageInfo.size},
                    sort=${pageInfo.sort}
                )}">
                <i class="bi bi-caret-left-fill"></i>
            </a>
        </li>

        <li th:if="${pageInfo.startPage <= pageInfo.endPage}" th:each="pageNumber: ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
            <a th:href="@{/product(
                    categoryNo=${pageInfo.categoryNo},
                    page=${pageNumber},
                    size=${pageInfo.size},
                    sort=${pageInfo.sort})}"
               th:text="${pageNumber}"
               th:active="${pageInfo.page == pageNumber}">1</a>
        </li>
        <li th:if="${pageInfo.endPage != pageInfo.totalPageCount}">
            <a th:href="@{/product(
                    categoryNo=${pageInfo.categoryNo},
                    page=${pageInfo.endPage + 1},
                    size=${pageInfo.size},
                    sort=${pageInfo.sort}
                )}">
                <i class="bi bi-caret-right-fill"></i>
            </a>
        </li>
    </ol>

</body>
</html>