<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 후  header</title>
    <link rel="stylesheet" href="../../static/css/login/loginHeader.css?ver=1" type="text/css">
</head>
<body>
    <header>
        <div class="logo">R.D</div>

        <nav>
            <ul class="menu-bar">

                <li><a href="./booklist.html" class="link">책</a></li>
                <li><a href="">토론 게시판</a></li>
                <li><a href="../content/zim.html">문의하기</a></li>
                <li><a href="../content/method.html">마이 페이지</a></li>

            </ul>
        </nav>

        <div class="auth-buttons">
            <button class="login-button">이미지 프로필</button>
            <button class="signup-button"></button>
        </div>
    </header>
</body>
</html>